
.step li{
  line-height: 1.8;
}

li s{
  opacity: 0.2;
}
li s:hover{
  opacity: 1;
}


.step.active .action{
  z-index: 99999;
}

.mini{
  font-size: 20px;
}
.mid{
  font-size: 32px;
}

.section-head{
  font-size: 100px;
  margin-bottom: 50px;
}

.subtitle{
  border-style:dotted;
  border-width: 0px;
  border-bottom-width: 3px;
  font-size: 64px;
  margin-bottom: 50px;
  margin-left: -75px;
}

.g-1{
  margin-left: -75px;
}

.g1{
  margin-left: 75px;
}


.step.thankyou{
  opacity: 0;
  width: 1200px;
}
.step.thankyou.active{
  opacity: 1;
}

.g2{
  margin-left: 150px;
}
#title {
    line-height: 1.3;
    padding: 0;
}
#title .footer{
  text-align: right;
}

#title .big{
    font-size: 140px;
}

#title h1{
    font-size: 64px;
 }


#markdownDemo{
  border-width: 1px;
  border-style: solid;
  width: 800px;
  height: 500px;

}
